
@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this stylist: @Model.FullName()</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  @Html.LabelFor(model => model.NameFirst)
  @Html.TextBoxFor(model => model.NameFirst)
  @Html.LabelFor(model => model.NameLast)
  @Html.TextBoxFor(model => model.NameLast)
  <br>

  @Html.LabelFor(model => model.Phone)
  @Html.EditorFor(model => model.Phone)
  @Html.LabelFor(model => model.Email)
  @Html.EditorFor(model => model.Email)
  <br>

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>